<%- include('partials/header') -%>
    <div class="container section">
        <h1>About</h1>
        <p>Augue interdum velit euismod in pellentesque massa. Eu lobortis elementum nibh tellus molestie nunc. Urna nec tincidunt praesent semper feugiat nibh sed pulvinar. Ultrices dui sapien eget mi proin sed libero enim sed. Velit sed ullamcorper morbi
            tincidunt ornare massa. Neque laoreet suspendisse interdum consectetur. In eu mi bibendum neque egestas congue quisque egestas diam. Tincidunt ornare massa eget egestas purus viverra accumsan in nisl. In nulla posuere sollicitudin aliquam.
            Tristique senectus et netus et malesuada. Non diam phasellus vestibulum lorem sed risus. Nullam eget felis eget nunc lobortis mattis aliquam faucibus.</p>
    </div>


    <%- include('partials/footer.ejs') -%>