<%- include('partials/header') -%>
    <div class="container section">
        <h1>Contact</h1>
        <p>Aliquam eleifend mi in nulla posuere sollicitudin. Felis eget nunc lobortis mattis. Leo vel orci porta non pulvinar neque laoreet. Congue eu consequat ac felis. Gravida arcu ac tortor dignissim convallis aenean et. Placerat vestibulum lectus mauris
            ultrices eros in. Non sodales neque sodales ut etiam sit amet nisl. Adipiscing diam donec adipiscing tristique risus nec feugiat in fermentum. Lectus nulla at volutpat diam ut. Suspendisse interdum consectetur libero id faucibus nisl. Facilisi
            cras fermentum odio eu. Varius duis at consectetur lorem donec massa sapien faucibus. Turpis massa tincidunt dui ut ornare lectus sit amet. Vestibulum mattis ullamcorper velit sed. Eu mi bibendum neque egestas congue quisque egestas. Cras
            adipiscing enim eu turpis egestas pretium aenean.</p>
    </div>


    <%- include('partials/footer.ejs') -%>