.nav-link {
    color: #fff;
    font-size: 1.2rem;
}

.nav-link:hover {
    color: #000;
}

.section {
    padding-top: 10%;
}

.post-btn {
    color: #fff;
}

.navbar-toggler-icon {
    background-image: url(../images/open-menu.png);
}